@font-face {
    font-family: 'roboto';
    src: url('../fonts/RobotoRegular/RobotoRegula.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/RobotoBold/RobotoBold') format('woff');
    font-weight: normal;
    font-style: normal;
}
